// Header
//
// Super small header above the content for site name and short description.

.header{
	padding: 2rem 0 0;
  background: $body-bg-alter;
  overflow: hidden;
  overflow-x: auto;
  nav{
    position: relative;
    min-width: 100%;
    z-index: 10;
    a.home{
      letter-spacing: 0;
      &::after{
        content: "―";
        margin: 0 1rem;
        color: $gray-2;
        border-bottom: 0;
        &:hover{
          color: inherit;
        }
      }
    }
    ul{
      display: flex;
      padding: 0;
      line-height: 100px;
      font-weight: 700;
      vertical-align: middle;
      margin: 0;
      li{
        letter-spacing: .15em;
        margin-right: 1.5rem;
        list-style: none;
        font-size: 0.75rem;
        &:last-child{
          margin-right: 0;
          padding-right: 1.5rem;
        }
        &:first-child{
          margin-right: 0;
        }
        a{
          color: $gray-4;
          border-bottom: 0;
          &:hover{
            color: $color-one;
          }
        }
      }
    }
  }
  .active{
    color: $color-one;
  }
}
