.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0 0 0;
}

.post-card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 12px 24px;
  min-height: 300px;
  background: #fff center center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  a{
    color: $gray-4;
    border-bottom: 0;
  }
}
.post-card-title {
  margin-top: 0;
}
.post-card-content {
  font-size: .9rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Adjust some margins for smaller screens */
@media (max-width: 650px) {
    .post-feed {
        padding-top: 5vw;
    }
    .post-card {
        margin: 0 20px 5vw;
    }
}
