---
layout: default
title: Home
---
<div class="hero">
  <div class="container">
    <h1>I'm Milton, CS undergraduate from México.</h1>
    <p>
      I love automating processes and implementing new technologies in my work, I live to design software and write code.
      Lover of opensource and free knowledge, working on my small contribution.
    </p>
    <p>
      Right now, I’m a lead developer at <a href="//innusource.xyz" target="_blank" title="A small development team">innusource</a>.
    </p>
  </div>
</div>
<!-- <div id="more" class="container">
  <h3>Intereses</h3>
  <ul>
    <li>desarrollo web</li>
    <li>machine learning</li>
    <li>cloud computing</li>
    <li>lenguajes de programación</li>
    <li>seguridad informatica</li>
    <li>teoría de la computación</li>
  </ul>
  <hr>
  <h3>Contact</h3>
  <p>
    Disfruto ayudar, así que, ¿tienes alguna pregunta sobre <a title="Computer Science">CS</a> o la vida?, ¿qué tal un mentor para tú proyecto?
  </p>
  <p>Escribeme a <a href="mailto:{{site.email}}">{{site.email}}</a></p>
</div> -->
<section id="posts">
  <div class="container">
    <h1 class="min-head">RECENT POSTS</h1>
    {% for post in site.posts limit:5 %}
    <a class="post-preview" href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}">
        <span class="head">
          <h3>{{ post.title }}</h3>
          <h6>{{ post.date | date: "%d %b %Y" | upcase }}</h6>
        </span>
        <span class="p">
          {{ post.content | strip_html | truncatewords: 15, "" }}...
        </span>
    </a>
    {% endfor %}
  </div>
  <div class="container">
    <a href="/posts"><h6 class="min-head end">ALL POSTS <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg></h6></a>
  </div>
</section>
<section id="projects">
  <div class="container">
    <h1 class="min-head">MAIN PROJECTS</h1>
    <div class="project-feed">
      {% for project in site.data.projects %}
        {% if project[1].main %}
        <a class="card" href="{{ project[1].link }}" target="_blank">
          <img class="card-image" src="{{site.baseurl}}{{project[1].img_url}}" alt="{{ project[1].title }}">
          <div class="card-content">
            <h3 class="card-title">{{ project[1].title }}</h3>
            <p>{{ project[1].description | strip_html | truncatewords: 15, "" }}</p>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>
    <a href="/projects"><h6 class="min-head end">ALL PROJECTS <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg></h6></a>
  </div>
</section>
