<head>
  <meta http-equiv="Content-Language" content="es">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
  <link rel='icon' href='{{ site.baseurl }}/public/img/favicon.png'>
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700|Roboto:300,400,500,700" rel="stylesheet"> 
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
